			
<html>
<body>
    <p>Hi <b>${title}</b></p>
<p>There is a new loan request with Loan Reference Number as <b>${applicationCode}</b> from our Borrower.</p>
<p>Please login with the link sent earlier or through the following link to access the borrowers complete details.</p>
<p><b><a href="${loginUrl}">Login</a></b></p>
<p>Link not working? Paste the following link into your browser:</p>
<p><b>${loginUrl}</b></p>
<p>Disclaimer: The information contained herein is confidential and is intended solely for the addressee(s). If you have erroneously received this message, please immediately delete it and notify at vivek@vfinances.in. You must not directly or indirectly, use, disclose, distribute, print, or copy any part of this message.</p>
<p>Note: This is an electronic message. Please do not reply to this E Mail.</p>

Thank You.<br/><br/>
<b>VfinanceS.</b>
</body>
</html>