<html>
<head></head>
<body>
	<p>Hi <b>${user_name}!</b></p>
	<p>Help us secure your VfinanceS account by verifying your E Mail address (${emailAddress}). This lets you access VfinanceS features as per your registrations.</p>
	<p><b><a href="${link}">Verify email address</a></b></p>
	<p>Button not working? Paste the following link into your browser:</p>
	<p>${link}</p>
	<p>You're receiving this E Mail because you recently created a new VfinanceS account or added a new E Mail address. If this wasn't you, please ignore this E Mail.</p>
	<p>Disclaimer: The information contained herein is confidential and is intended solely for the addressee(s). If you have erroneously received this message, please immediately delete it and notify at <b>vivek@vfinances.in</b>. You must not directly or indirectly, use, disclose, distribute, print, or copy any part of this message.</p>
	<p>Note: This is an electronic message. Please do not reply to this E Mail.</p>
	<p>Thank You.</p>
	<p><b>VfinanceS</b></p>
</body>
</html>