			
<html>
<body>
   
   <h3>${title}!</h3>

<p>Welcome to VfinanceS.</p>

<p>Please use the following secured link to access your VfinanceS Lenders Platform.</p>

<a href="${loginUrl}">Click Here to Login</a>
  <br>
  <p>User ID – ${userName}</p>
<p>Password – ${password}</p>

<p>Do remember to change your password as per your requirements.</p>

<p>Link not working? Paste the following link into your browser : ${loginUrl}

<p style="font-size: 12px">
Disclaimer: The information contained herein is confidential and is intended solely for the addressee(s). If you have erroneously received this message, please immediately delete it and notify at vivek@vfinances.in. You must not directly or indirectly, use, disclose, distribute, print, or copy any part of this message.
Note: This is an electronic message. Please do not reply to this E Mail.</p>

<p>Thank You.</p>
<p>VfinanceS.</p>
   
   
   
    
</body>
</html>