<html>
<head></head>
<body>
	<p>Hi <b>${user_name}!</b></p>
	<p>Click on Below Link to  Reset your Password.</p>
	<p><b><a href="${link}">Forgot Password</a></b></p>
	<p>Button not working? Paste the following link into your browser:</p>
	<p>${link}</p>
	<p>Disclaimer: The information contained herein is confidential and is intended solely for the addressee(s). If you have erroneously received this message, please immediately delete it and notify at <b>vivek@vfinances.in</b>. You must not directly or indirectly, use, disclose, distribute, print, or copy any part of this message.</p>
	<p>Note: This is an electronic message. Please do not reply to this E Mail.</p>
	<p>Thank You.</p>
	<p><b>VfinanceS</b></p>
</body>
</html>