<html>
<head></head>
<body>
	<p>Hi, you have new query</p>	
	
<p><b>Name</b> : ${name}</p>
  <p><b>Email</b> : ${email}</p>
  <p><b>Contact Number </b> : ${contact}</p>
  <p><b>Message</b> : ${msg}</p>

	<p>Note: This is an electronic message. Please do not reply to this E Mail.</p>
	<p>Thank You.</p>
	<p><b>VfinanceS</b></p>
</body>
</html>